body
{
  background-color: #24353f;
}

.content
{
  box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}
h1
{
  color: #17a2b8;
  font-size: 2.5rem;
}

input
{
  background-color: transparent !important;
  color: #fff !important;
}

::placeholder
{
  color: white !important;
}
.size
{
  font-size: 4rem;
}

a:hover
{
  cursor: pointer;
  text-decoration: underline !important;
}